.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes footer_opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes footer_opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer_opacity {
  -webkit-animation-name: footer_opacity;
  animation-name: footer_opacity;
}

@-webkit-keyframes line_one {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes line_one {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.line_one {
  -webkit-animation-name: line_one;
  animation-name: line_one;
}
@-webkit-keyframes line_two {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes line_two {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.line_two {
  -webkit-animation-name: line_two;
  animation-name: line_two;
}

/*地球的动画*/
@-webkit-keyframes earth_ani {
  0% {
    transform: translateY(7rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

@keyframes earth_ani {
  0% {
    transform: translateY(7rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.earth_ani {
  -webkit-animation-name: earth_ani;
  animation-name: earth_ani;
}

/*放大*/
@-webkit-keyframes scale_one {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale_one {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.scale_one {
  -webkit-animation-name: scale_one;
  animation-name: scale_one;
}

/*轨迹动画*/
/*@-webkit-keyframes gj_ani {
  0% {
        bottom: 9.9rem;
    left: 4.7rem;
  }
  60% {
        bottom: 9.9rem;
    left: 4.7rem;
  }
  100% {
        bottom: 9.9rem;
    left: 4.7rem;
  }
}*/

@keyframes gj_ani {
  0% {
        bottom: 9.9rem;
    left: 4.7rem;
  }
  12.5% {
        bottom: 5.7rem;
    left: 4.7rem;
  }
  25% {
        bottom: 5.7rem;
    left: 2.5rem;
  }
  37.5% {
        bottom: 4.1rem;
    left: 2.5rem;
  }
  50% {
        bottom: 4.1rem;
    left: 7.7rem;
  }
  62.5% {
        bottom: 2.9rem;
    left: 7.7rem;
  }
  75% {
        bottom: 2.9rem;
    left: 5.2rem;
  }
  /*87.5% {
        bottom: 2.9rem;
    left: 1.7rem;
  }*/
  100% {
        bottom: -1rem;
    left: 5.2rem;
  }
}

.gj_ani {
  -webkit-animation-name: gj_ani;
  animation-name: gj_ani;
}

/*进入*/
@-webkit-keyframes enter_one {
  0% {
    top: -7rem;
    right: -7rem;
    transform: scale(0);
  }
  100% {
    top: 0rem;
    right: 0rem;
    transform: scale(1);
  }
}

@keyframes enter_one {
  0% {
  	top: -7rem;
    right: -7rem;
    transform: scale(0);
  }
  100% {
  	top: 0rem;
    right: 0rem;
    transform: scale(1);
  }
}

.enter_one {
  -webkit-animation-name: enter_one;
  animation-name: enter_one;
}
@-webkit-keyframes enter_two {
  0% {
  	bottom: -7rem;
    left: -7rem;
    transform: scale(0);
  }
  100% {
  	bottom: 0rem;
    left: 0rem;
    transform: scale(1);
  }
}

@keyframes enter_two {
  0% {
  	bottom: -7rem;
    left: -7rem;
    transform: scale(0);
  }
  100% {
  	bottom: 0rem;
    left: 0rem;
    transform: scale(1);
  }
}

.enter_two {
  -webkit-animation-name: enter_two;
  animation-name: enter_two;
}



@-webkit-keyframes to_down {
   0% {
    -webkit-transform: translateY(-14rem) scaleY(1);
    transform: translateY(-14rem) scaleY(1);
}
15%, 35%, 55% {
    -webkit-transform: translateY(0) scaleY(1);
    transform: translateY(0) scaleY(1);
}
25% {
    -webkit-transform: translateY(-1rem) scaleY(0.9);
    transform: translateY(-1rem) scaleY(0.9);
}

45% {
    -webkit-transform: translateY(-0.3rem) scaleY(0.95);
    transform: translateY(-0.3rem) scaleY(0.95);
}
}

@keyframes to_down {
  0% {
    -webkit-transform: translateY(-14rem) scaleY(1);
    transform: translateY(-14rem) scaleY(1);
}
15%, 35%, 55% {
    -webkit-transform: translateY(0) scaleY(1);
    transform: translateY(0) scaleY(1);
}
25% {
    -webkit-transform: translateY(-1rem) scaleY(0.9);
    transform: translateY(-1rem) scaleY(0.9);
}

45% {
    -webkit-transform: translateY(-0.3rem) scaleY(0.95);
    transform: translateY(-0.3rem) scaleY(0.95);
}
}

.to_down {
  -webkit-animation-name: to_down;
  animation-name: to_down;
}

/*logo放大*/
/*0% {
    opacity: 0;
    -webkit-transform: scale3d(0.2, 0.2, 0.2);
    transform: scale3d(0.2, 0.2, 0.2);
}
50% {
    opacity: 1;
}*/
@-webkit-keyframes logo_scale {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
}
50% {
    opacity: 1;
}
}

@keyframes logo_scale {
0% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
}
50% {
    opacity: 1;
}
}

.logo_scale {
  -webkit-animation-name: logo_scale;
  animation-name: logo_scale;
}

/*左侧进入*/
@-webkit-keyframes to_left {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
}
50% {
    opacity: 1;
    transform: translateX(0rem);
}
}

@keyframes to_left {
0% {
    opacity: 0;
    transform: translateX(-10rem);
}
50% {
    opacity: 1;
    transform: translateX(0rem);
}
}

.to_left {
  -webkit-animation-name: to_left;
  animation-name: to_left;
}

/*右侧进入*/
@-webkit-keyframes to_right {
  0% {
    opacity: 0;
    transform: translateX(10rem);
}
50% {
    opacity: 1;
    transform: translateX(0rem);
}
}

@keyframes to_right {
0% {
    opacity: 0;
    transform: translateX(10rem);
}
50% {
    opacity: 1;
    transform: translateX(0rem);
}
}

.to_right {
  -webkit-animation-name: to_right;
  animation-name: to_right;
}
/*左侧进入*/
@-webkit-keyframes to_min {
  0% {
    opacity: 0;
    transform: scale(1);
}
10% {
    opacity: 1;
    transform: scale(1);
}
80% {
    opacity: 1;
    transform: scale(1);
}
100% {
    opacity: 0;
    transform: translate(1.2rem,-1.4rem) scale(0.1);
}
}

@keyframes to_min {
  0% {
    opacity: 0;
    transform: scale(1);
}
10% {
    opacity: 1;
    transform: scale(1);
}
80% {
    opacity: 1;
    transform: scale(1);
}
100% {
    opacity: 0;
    transform: translate(1.2rem,-1.4rem) scale(0.1);
}
}

.to_min {
  -webkit-animation-name: to_min;
  animation-name: to_min;
}

/*左侧进入*/
@-webkit-keyframes to_min_op {
  0% {
    opacity: 0;
    transform: scale(1);
    width: 0;
}
50% {
    opacity: 0;
    transform: scale(1);
    width: 0;
}
80% {
    opacity: 1;
    transform: scale(1);
    width: 100%;
}
100% {
    opacity: 0;
    transform: translate(1.2rem,-3.4rem) scale(0.1);
}
}

@keyframes to_min_op {
  0% {
    opacity: 0;
    transform: scale(1);
    width: 0;
}
50% {
    opacity: 1;
    transform: scale(1);
    width: 0;
}
80% {
    opacity: 1;
    transform: scale(1);
    width: 100%;
}
100% {
    opacity: 0;
    transform: translate(1.2rem,-3.4rem) scale(0.1);
}
}

.to_min_op {
  -webkit-animation-name: to_min_op;
  animation-name: to_min_op;
}
/* 出现消失*/
@-webkit-keyframes to_opacity {
  0%,100% {
    opacity: 0;
}
50% {
    opacity: 1;
}
}

@keyframes to_opacity {
0%,100% {
    opacity: 0;
}
50% {
    opacity: 1;
}
}

.to_opacity {
  -webkit-animation-name: to_opacity;
  animation-name: to_opacity;
}

/* footer style*/
@-webkit-keyframes footer_one {
  0% {
    top: -14rem;
    left: -7rem;
    transform: scale(0);
}

100% {
    top: 0rem;
    left: 0rem;
    transform: scale(1);
}
}

@keyframes footer_one {
0% {
    top: -14rem;
    left: -7rem;
    transform: scale(0);
}

100% {
    top: 0rem;
    left: 0rem;
    transform: scale(1);
}
}

.footer_one {
  -webkit-animation-name: footer_one;
  animation-name: footer_one;
}

@-webkit-keyframes footer_two {
  0% {
    bottom: -14rem;
    right: -7rem;
    transform: scale(0);
}

100% {
    bottom: 0rem;
    right: 0rem;
    transform: scale(1);
}
}

@keyframes footer_two {
0% {
    bottom: -14rem;
    right: -7rem;
    transform: scale(0);
}

100% {
    bottom: 0rem;
    right: 0rem;
    transform: scale(1);
}
}

.footer_two {
  -webkit-animation-name: footer_two;
  animation-name: footer_two;
}